<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ path }}/blog/feed">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {{ if twitter_username }}
                    <li>
                        <a href="https://twitter.com/{{ twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {{ /if }}
                    {{ if facebook_username }}
                    <li>
                        <a href="https://www.facebook.com/{{ facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {{ /if }}
                    {{ if github_username }}
                    <li>
                        <a href="https://github.com/{{ github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {{ /if }}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site_name }} {{ now format="Y" }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ theme:js src="jquery.min" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ theme:js src="bootstrap.min" }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ theme:js src="clean-blog"  }}"></script>
